

.fontBox {
  visibility: visible;
  border: darkblue solid 2px;
  border-radius: 20px;
  background-color: #e6fff7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 200px;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  user-select: none;
  cursor: default;  
}

.dialog-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}

.dialog-title--item {
  padding: 5px;
}

.dialog-title--item-X {
  padding: 5px;
  color: black;
}

.dialog-title--item-X:hover {
  background-color: darkblue;
  color: white;
  
}

.fontChoice-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#font-container {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
}
#fontStyle-container {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;  
}
#fontSize-container {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;  
}

.fontBox-buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.fontBox-buttons input {
  padding-left: 15px;
  padding-right: 15px;
}
.fontBox-buttons input:hover {
  background-color: lavender;
}

select::-webkit-scrollbar {
    display: none;
}
