.goToBox {
  visibility: visible;
  border-radius: 20px;
  background-color: #e6fff7;
  border: 1px solid darkblue;
  padding: 10px;
  display: flex;
  flex-direction: row;
  position: absolute;
  flex-grow:1;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: default;   
}