.fileOpenBox {
  visibility: visible;
  border: red solid 2px;
  border-radius: 20px;
  background-color: #e6fff7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 500px;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.fileOpenBoxHidden {
  visibility: hidden;
  border-color: black;
  border: black solid 2px;  
  padding: 20px;
  display: none;
  flex-direction: column;
  position: absolute;
}

.gist {
  background-color: #b3ffe6;
}

.gist:hover {
  background-color: #00cc88;
}   

