.openFileBox {
  visibility: visible;
  border: darkblue solid 2px;
  border-radius: 20px;
  background-color: #e6fff7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 500px;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: default;
  /*overflow: auto;  */
}

.dialog-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}

.dialog-title--item {
  padding: 5px;
}

.dialog-title--item-X {
  padding: 5px;
  color: black;
}

.dialog-title--item-X:hover {
  background-color: darkblue;
  color: white;
  
}



.file-container {
  display:flex;
  flex-direction: column;
  overflow:auto;
  
}

.open-file-form-container input:hover[type='submit'] {
  background-color: lavender;
}

.open-file-form-container input:hover[type='button'] {
  background-color: lavender;
}

.file-container::-webkit-scrollbar {
    width: 12px;
    background-color: ghostwhite;
}

.file-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.file-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: lavender;
}

.file-container::-webkit-scrollbar-corner {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: lavender;
    
}

ul {
    flex-wrap: wrap;
}

.gist {
  background-color: #b3ffe6;
}

.gist:hover {
  background-color: #00cc88;
}   

