.aboutBox {
  visibility: visible;
  border: red solid 2px;
  border-radius: 20px;
  background-color: #e6fff7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 200px;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: default;  
}

.dialog-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}

.dialog-title--item {
  padding: 5px;
}

.dialog-title--item-X {
  padding: 5px;
  color: black;
}

.dialog-title--item-X:hover {
  background-color: red;
  color: white;
  
}
