.saveAsBox {
  visibility: visible;
  border: darkblue solid 2px;
  border-radius: 20px;
  background-color: #f1feff;
  /*background-color: #e6fff7;*/
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  height: 300px;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: default; 
  user-select: none;
  /*TODO: add draggable capability to ALL dialog boxes*/
  /*-khtml-user-drag: element;
  -webkit-user-drag: element;*/
}

.saveAsBox-info__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.saveAs-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}

.saveAs-title--item {
  padding: 5px;
}

.saveAs-title--item-X {
  padding: 5px;
  color: black;
}

.saveAs-title--item-X:hover {
  background-color: darkblue;
  color: white;
  
}

.file-container {
  display:flex;
  flex-direction: column;
  overflow:auto;
  
}

.save-file-form-container {
  display: flex;
  flex-grow: 1;
}

.gist-description {
  display: flex;
}

.saveAs-buttons {
  display: flex;
  justify-content: flex-end;
}

.saveAs-buttons input:hover {
  background-color: lavender;
}
