

.app__header {
  letter-spacing: 8px;
  text-shadow: -1px 2px 0px rgba(150, 150, 150, 0.52);
  font-size: 24px;
  background: linear-gradient(to right, rgba(52,75,124,1) 0%,rgba(50,160,211,1) 50%,rgba(0,158,216,1) 51%,rgba(4,178,242,1) 100%);
  color: white;
  padding: 8px 0;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid black;
  cursor: default;
}

.app__main-menu-bar {
  height: 32px;
  max-height: 32px;
  min-height: 32px;
  background: lightslategrey;
  color: black;
  font-family: monospace;
  font-size: 24px;

  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  box-sizing: border-box;
}

.app__main-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.app__document-container {
  display: flex;
  flex-shrink: 1;
  justify-content: flex-start;
  flex-direction: column;
  overflow: scroll;
}

.app__document-container::-webkit-scrollbar {
    width: 12px;
    background-color: ghostwhite;
}

.app__document-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.app__document-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: lavender;
}

.app__document-container::-webkit-scrollbar-corner {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: lavender;
    
}


.dev__stack-view-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-content: flex-end;
}


@media print {
  .app__header {
    visibility: hidden;
    display: none;
    border: none;
  }

  .app__main-menu-bar {
    visibility: hidden;
    display: none;
  }

  .app__main-container {
    width: 100%;
    height: 100%;
    border: none;
  }

  .app__document-container {
    width: 100%;
    height: 100%;
    border: none;  
  }

  .app__document-container::-webkit-scrollbar {
    display: none;
  }

  .dev__stack-view-container {
    visibility: hidden;
    display: none;
    display: flex;
    flex-grow: 1;
  }
}