

.notepadArea {
  box-shadow: inset 10px 10px 30px -12px rgba(0,0,0,0.4);
  font-family: monospace;
  /* this needs to be dynamically overriden possibly in-line in the Notepad Component */
  font-size: 18px;
  /*width: 100%;*/
  font-weight: normal; 
  background: ghostwhite;
  cursor: text;
  user-select: none;
  border: 2px solid black;
  display: flex;
  flex:1;
  flex-direction: column;
  flex-shrink: 0;
  /*overflow-x: auto;*/
}

.fontStyle-normal {
  font-weight: normal;
}

.fontStyle-bold {
  font-weight: 800;
}

.fontStyle-italic {
  font-style: italic;
}

.fontStyle-boldItalic {
  font-style: italic;
  font-weight: 800;
}

.fontType-monospace {
  font-family: monospace;
}
.fontType-TNR { 
  font-family: 'Times New Roman', Times, serif;
}
.fontType-Arial {
  font-family: Arial, Helvetica, sans-serif;
}
.fontType-Calibri {
  font-family: Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
}
.fontSize-16 {
  font-size: 16px
}
.fontSize-18 {
  font-size: 18px
}
.fontSize-20 {
  font-size: 20px
}
.fontSize-22 {
  font-size: 22px
}

.notepadArea__line-number {
  width: 30px;
  height: 28px;
  min-height: 28px;
  max-height: 28px;
  max-width: 30px;
  min-width: 30px;
  border-right: 2px solid black;
  background: rgba(0,0,0,0.4);
  text-align: right;
  padding: 4px;
  margin-right: 8px;
  font-family: monospace;
  cursor: default;
}

.notepadArea__row {
  display: flex;
  height: 34px;
  width: 100%;
  flex-direction: row;
  min-height: 34px;
  max-height: 34px;
  line-height: 1.5;
  flex-wrap: nowrap; 
  flex-shrink: 0;

}

.notepadArea__row--highlight {
  background: rgba(0,255,255,0.2)
}

.notepadArea__column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notepadArea__column--selected {
  background-color: darkviolet;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notepadArea__cursor {
  box-sizing: border-box;
  border-left: 1px solid black;
  animation: 1s blink-cursor step-end infinite;
}

.notepadArea__cursor-hidden {
  box-sizing: border-box;
  border-left-color: transparent
}

@keyframes 'blink-cursor' {
  from, to {
    border-left-color: black;
  }
  50% {
    border-left-color: transparent;
  }
}

@media print {
  .notepadArea__line-number {
    display: none;
  }

  .notepadArea {
    width: 100%;
    height: 100%;
    border: none;
  }

  .notepadArea__column {
    border: transparent;
    width: inherit;
    height: inherit;
  }
}