.notepadArea {
  box-shadow: inset 10px 10px 30px -12px rgba(0,0,0,0.4);
  font-family: monospace;
  /* this needs to be dynamically overriden possibly in-line in the Notepad Component */
  font-size: 18px; 
  background: ghostwhite;
  cursor: text;
  user-select: none;
  border: 2px solid black;
  /*overflow: scroll;*/
}

/*.notepadArea::-webkit-scrollbar {
    width: 12px;
    cursor: pointer;
}

.notepadArea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    cursor:pointer;
}

.notepadArea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    cursor:pointer;
}*/

.notepadArea__line-number {
  width: 30px;
  border-right: 2px solid black;
  background: rgba(0,0,0,0.4);
  text-align: right;
  padding: 4px;
  margin-right: 8px;
  font-family: monospace;
  cursor: default;
}

.notepadArea__row {
  display: flex;
  line-height: 1.5;
  flex-wrap: wrap;
  flex-grow: 1;  
  /*border: 1px solid red;*/

}

.notepadArea__row--highlight {
  background: rgba(0,255,255,0.2)
}

.notepadArea__column {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 1px solid red;*/
  border-left: 1px solid red;
}

.notepadArea__column--selected {
  /*TODO: this css rule will govern the appearance of selected text*/
  background-color: darkviolet;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notepadArea__cursor {
  box-sizing: border-box;
  border-left: 1px solid black;
  animation: 1s blink-cursor step-end infinite;
}

.notepadArea__cursor-hidden {
  box-sizing: border-box;
  border-left-color: transparent
}

@keyframes 'blink-cursor' {
  from, to {
    border-left-color: black;
  }
  50% {
    border-left-color: transparent;
  }
}

@media print {
  .notepadArea__line-number {
    display: none;
  }

  .notepadArea {
    width: 100%;
    height: 100%;
    border: none;
  }

  .notepadArea__column {
    border: transparent;
    width: inherit;
    height: inherit;
  }
}