.undoStackView {
  border: solid 1px indigo;
  flex-grow: 1;
  background-color: lightyellow;

}

.undoStack-Title {
  border-bottom: solid 1px black;
}

.undoStack-container {
  flex-grow:1;
}

.undoStack-Item {
  border-bottom: solid 1px seagreen;
  flex-grow:1;
}